# Core Libraries
numpy
soundfile
nltk

# Audio Processing
ffmpeg-python
resampy==0.4.3
librosa==0.10.0
auto-editor==27.1.1

# TTS / ASR
faster-whisper
openai-whisper
resemble-perth==1.0.1
silero-vad==5.1.2
conformer==0.3.2

# Tokenization and Transformers
s3tokenizer
transformers==4.46.3
diffusers==0.29.0
omegaconf==2.3.0

# UI
gradio
spaces

# PyTorch for CUDA 12.5 (compatible build: cu121)
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.2+cu121
torchaudio==2.2.2+cu121
